.cuerpo{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%
}

#barraNavegacion{
    margin-left: 15%;
    margin-right: 15%;
}

#p3{
    font-size: 30px;
}

.letter-name{
    font-size: 20px;
}

.letter-bottom{
    font-size: 14px;
    color: gray;
}

#name-detail{
    font-size: 25px;
}

#margin-top{
    margin-top: 5%;
}

.ing-div{
    margin-left: 7%;
}

.center{
    margin:auto;
}

#navbarSupportedContent{
    margin-right: 3%;
}

.dark{
    background-color: rgb(68, 63, 87);
}

.dark #tabla{
    color: whitesmoke;
}

.dark #nombreFila{
    color: whitesmoke;
}

.size{
    font-size: 23px;
}

.size #nombreFila{
    font-size: 23px;
}

.size #editButton{
    font-size: 23px;
}

.size #deleteButton{
    font-size: 23px;
}

.size #anadir-receta{
    font-size: 23px;
}